.container#content {
  margin-top: 100px;
}
.singlepost {
  padding-top: 50px;
}
.navbar {
  background-color: white;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #0056b3;
  &:hover {
    color: #007bff;
  }
}

.image-cropper#img {
  width: 50%;
  height: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
